

<div class="container mt-5">
{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}



{% block content %}

<h1>{% trans "注销" %}</h1>

<p>{% trans '您确定要注销吗?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans '确定' %}</button>
</form>


{% endblock %}


</div>


