{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="text-center mb-4 font-weight-bold" style="font-size: 28px;" >
        <a class="nav-link text-dark" href='/'> <img width="40"  class="d-inline-block align-center pb-2 mr-1" src="/static/image/logo-border.png" alt="">
        小熊社</a>
        <div class=" dropdown-divider "> </div>
      
      </div>

<h4 class="h4 mb-2">{% trans "修改密码" %}</h4>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% include 'account/snippets/bs4_form.html' with form=form %}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
