<!DOCTYPE HTML>
<html class="h-100">

{% include 'doll_sites/head.html' %}

<body class="d-flex flex-column h-100">

  <!-- Header & Navigation -->
  {% include 'doll_sites/navi.html' %}

  <div class="container">
   <div class="row mt-4">
      <div class="col d-flex">
        <img class="avatar_actress border-light lazyloadx"
          data-original="/static/doll_sites/images/uploads/{{ current_actress.avatar }}" src="/static/image/loading.png"
          alt="photos" lazyloadthumb="1" lazyloaded="true">
        <div class="col ml-3">
          <h5>{{ current_actress }}</h5>
          <p class="mt-3"> 所属：{% for company in related_company %} {{ company }} |{%  endfor %}</p>
          <p>
            {{ current_actress.description }}
          </p>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <h5>
        所有相册
      </h5>
    </div>


    <div class="d-flex flex-wrap mb-4">
      {% for album in related_album %}
      <div class="card card-photolist ml-0 border-0 my-3 p-0">

        <a href="/photo/{{ album.get_photo_id}}" title=" {{ album.name_chinese }} " target='_self'>
          <img class="card-img-top border border-light lazyloadx" data-original="{{ album.get_cover_pic_link }}"
            src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
        </a>
        <div class="card-body p-1 mt-2">
          <div class="d-flex align-items-start">
            <!-- 相册名字 -->
            <a class="photo-link text-truncate" href="/photo/{{ album.get_photo_id}}" title=" {{ album.name_chinese }} "
              target='_self'>
              <p class="card-text text-truncate mb-0 mr-1 ">{{ album.name_chinese }}</p>
            </a>
            <!-- 精品标签 -->
            {% if album.buy_link %}
            <span class="badge badge-warning align-self-center mr-1 ">精品</span>
            {% endif %}
            {% if album.video_id %}
            <span class="badge badge-info align-self-center mr-1 ">视频</span>
            {% endif %}
            {% if album.vip_photo == False %}
            {% if album.video_id == Null %}
            <span class="badge badge-warning align-self-center mr-1 ">免费</span>
            {% endif %}
            {% endif %}

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% include 'doll_sites/footer.html' %}


  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="/static/js/jquery-3.3.min.js"></script>

  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/popper.min.js"></script>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.lazyload.js"></script>
  <script src="/static/js/main.js"></script>



</body>

</html>