<!DOCTYPE HTML>
<html>
<head>

    <meta name="renderer" content="webkit">
    <meta name="referrer" content="never">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="小熊社|萝莉图库|白丝|cosplay" />
    <meta name="keywords" content="小熊社|萝莉图库|白丝|cosplay" />
    <title> 小熊社-ロリータ世界！|萝莉图库|白丝|cosplay </title>

<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127776067-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127776067-1');
  </script>

<!-- 引入 Bootstrap -->
  <link rel='stylesheet' href='/static/css/bootstrap.css'>
  <link rel='stylesheet' href='/static/css/style.css'>
</head>

<body>
      <!-- Header & Navigation -->
  {% include 'doll_sites/navi.html' %}

<div class="container">
<div class="row">

    {% block content %}

        <div class="d-flex flex-wrap col-lg-9 justify-content-between my-5">
            {% for actress in current_actress_list %}
            <div class="card  col-lg-2 mr-4 my-3 p-0">
        
              <a href="/actress_detail/{{ actress.id }}" title=" {{ actress.actress_name_ch }} " target='_self'>
                <img class="card-img-top img-fluid  border-light lazyloadx" 
                data-original="/static/image/loading.png"
                src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
              </a>
              <div class="card-body">
                <p class="card-text">{{ actress.actress_name_ch }}</p>
              </div>
            </div>
            {% endfor %}
        </div>

        <div id="pages" class="text-center" >
          <nav>
            <ul class="pagination">
                <li class="step-links">
                {% if current_actress_list.has_previous %}
                    <a class='active' href="?page={{ current_actress_list.previous_page_number }}">上一页</a>
                {% endif %}

                <span class="current">
                    Page {{ current_actress_list.number }} of {{ current_actress_list.paginator.num_pages }}</span>

                {% if current_actress_list.has_next %}
                    <a class='active' href="?page={{ current_actress_list.next_page_number }}">下一页</a>
                {% endif %}
                </li>
            </ul>
          </nav>
        </div>




    {% endblock %}



</div>

</div>


</body>