

<footer class="footer mt-auto bg-dark text-center text-muted py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-lg-left text-center mb-3 mb-lg-0">
        <span class="mr-3">
          <a href='http://huaban.com/'>
            花瓣网
          </a>
        </span>
        <span class="mr-3">
          <a href='https://www.bilibili.com//'>
            哔哩哔哩
          </a>
        </span>
        <span class="mr-3">
          <a href='https://bcy.net/'>
            半次元
          </a>
        </span>
        <span class="mr-3">
          <a href='http://www.acfun.com/'>
            ACFUN
          </a>
        </span>

      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4 text-lg-right text-center">
        <span>Copyright &copy;
          <span id="year"></span> 小熊社</span>
      </div>
    </div>
  </div>
</footer>