
<!DOCTYPE HTML>
<html>
<head>

    <meta name="renderer" content="webkit">
    <meta name="referrer" content="never">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="小熊社|萝莉图库|白丝|cosplay" />
    <meta name="keywords" content="小熊社|萝莉图库|白丝|cosplay" />
    <title> 小熊社-ロリータ世界！|萝莉图库|白丝|cosplay </title>

<!-- Baidu ZhanZhang Verify -->
    <meta name="baidu-site-verification" content="jiNtuP7fb1" />

<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127776067-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127776067-1');
    </script>

<!-- 引入 Bootstrap -->
  <link rel='stylesheet' href='/static/css/bootstrap.css'>
  <link rel='stylesheet' href='/static/css/style.css'>


  <!-- fontawsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>


<body class="d-flex flex-column h-100">

  {% include 'doll_sites/navi.html' %}



  


 <!-- Carousel -->

 <div class="container">
   


 <div id="slider" class="carousel slide mb-5" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active" data-target="#slider" data-slide-to="0"></li>
      <li  data-target="#slider" data-slide-to="1"></li>
    </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href='/photo/14'>
            <img class="d-block w-100" src="/static/image/banner/01.png" alt="First Slide">
          </a>
        </div>
        <div class="carousel-item">
          <a href='/photo/17'>
            <img class="d-block w-100 " src="/static/image/banner/02.png" alt="Second Slide">
          </a>
        </div>
      </div>
      

      <!-- CONTROLS -->
      <a href="#slider" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a href="#slider" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </div>





    <!-- 最新发布 -->
    <section id="newest" class="container my-3">
      <div class="clearfix">
        <p class="text-left  float-left font-weight-bold">
          最新发布
        </p>
        <a href="/photos/0/0/1" class="badge badge-primary  float-right"> 更多 </a>
      </div>
    
      <div class="d-flex flex-wrap justify-content-between">
        {% for photo in recommend_newest %}
        <div class="card border-0 col-md-8 col-lg  p-0">
    
          <a href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self'>
            <img class="card-img-top img-fluid border-light lazyloadx" data-original="{{ photo.get_cover_pic_link }}"
              src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
          </a>
          <div class="card-body">
            <p class="card-text">{{ photo.name_chinese }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>


    <!-- 热门推荐 -->
<section id="hottest" class="container my-3">
         
       
      <div class="row">
        <div class="col">
            <p class="text-left  float-left font-weight-bold">
                热门推荐
              </p>
             <div class="d-none d-sm-block">
                <span class="link ml-3">
                  <a href="#" title="尾野寺的夏日物语">
                    尾野寺的夏日物语
                  </a>
                </span>
                <span class="layout">
                  丨
                </span>
                <span class="link">
                  <a href="#"  title="尾野寺的夏日物语">
                    尾野寺的夏日物语
                  </a>
                </span> 
        </div>
        </div>
        <div class="col-auto mr-auto">
            <a href="/photos/0/0/1?sort=-views_count" > 
          
              <span>
                  更多 
                  
              </span>
              <i class="fas fa-chevron-right"></i>
            </a>
        </div>
        
        
       
      </div>

      
        <div class="card-deck">
            {% for photo in recommend_hotest %}
        <div class="card border-0 ">
    
          <a href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self'>
            <img class="card-img-top border-light lazyloadx" 
            data-original="{{ photo.get_cover_pic_link }}"
            src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
          </a>
          <div class="card-body">
            <p class="card-text text-center text-truncate">{{ photo.name_chinese }}</p>
          </div>
        </div>
        {% endfor %}
 
        </div>
        
    
    
      
     
    </section>



     <!-- 明星专题 -->
     <section id="actress" class="container my-3">
        <div class="clearfix">
          <p class="text-left  float-left font-weight-bold">
            明星专题
          </p>
          <a href="/actress/1" class="badge badge-primary  float-right"> 更多 </a>
        </div>
      
        <div class="d-flex flex-wrap justify-content-between">
          {% for photo in recommend_person %}
          <div class="card border-0 col-md-4 col-lg mr-4 p-0">
      
            <a href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self'>
              <img class="card-img-top img-fluid border border-light lazyloadx" data-original="{{ photo.get_cover_pic_link }}"
                src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
            </a>
            <div class="card-body">
              <p class="card-text">{{ photo.actress_name }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>


      <!-- 欧美萝莉 -->
      <section id="europeanActress" class="container my-3">
        <div class="clearfix">
          <p class="text-left  float-left font-weight-bold">
            欧美萝莉
          </p>
            <span class="link ml-3">
              <a href="/photos/1/1/1" title="CandyDoll">
                CandyDoll
              </a>
            </span>
            <span class="layout">
              丨
            </span>
            <span class="link">
              <a href="/photos/1/2/1"  title="Silver-star">
                Silver-star
              </a>
            </span>

          <a href="/photos/1/0/1" class="badge badge-primary  float-right"> 更多 </a>
        </div>
      
        <div class="d-flex flex-wrap justify-content-between">
          {% for photo in recommend_european %}
          <div class="card border-0 col-md-4 col-lg mr-4 p-0">
      
            <a href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self'>
              <img class="card-img-top img-fluid border border-light lazyloadx" data-original="{{ photo.get_cover_pic_link }}"
                src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
            </a>
            <div class="card-body">
              <p class="card-text">{{ photo.name_chinese }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <!-- 日本偶像 -->
      <section id="europeanActress" class="container my-3">
        <div class="clearfix">
          <p class="text-left  float-left font-weight-bold">
            日本偶像
          </p>
          <a href="/photos/2/0/1" class="badge badge-primary  float-right"> 更多 </a>
        </div>
      
        <div class="d-flex flex-wrap justify-content-between">
          {% for photo in recommend_japanese %}
          <div class="card border-0 col-md-4 col-lg mr-4 p-0">
      
            <a href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self'>
              <img class="card-img-top img-fluid border border-light lazyloadx" data-original="{{ photo.get_cover_pic_link }}"
                src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
            </a>
            <div class="card-body">
              <p class="card-text">{{ photo.name_chinese }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

      <!-- 网红萝莉 -->
      <section id="europeanActress" class="container my-3">
        <div class="clearfix">
          <p class="text-left  float-left font-weight-bold">
            网红萝莉
          </p>
          <a href="/photos/3/0/1" class="badge badge-primary  float-right"> 更多 </a>
        </div>
      
        <div class="d-flex flex-wrap justify-content-between">
          {% for photo in recommend_chinese %}
          <div class="card border-0 col-md-4 col-lg mr-4 p-0">
      
            <a href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self'>
              <img class="card-img-top img-fluid border border-light lazyloadx" data-original="{{ photo.get_cover_pic_link }}"
                src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
            </a>
            <div class="card-body">
              <p class="card-text">{{ photo.name_chinese }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>

  {% include 'doll_sites/footer.html' %}

  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="/static/js/style.js"></script>

  <script>
      $('#year').text(new Date().getFullYear());
     </script>

</body>
</html>