<div class="main-right">

      <div class="card-tags">
        <h4>热搜标签</h4>
        <ul>

          <li><a href="../search/?lang=cn&searchword=尾野寺みさ" title="尾野寺みさ">尾野寺みさ</a></li>

          <li><a href="../search/?lang=cn&searchword=河西莉子" title="河西莉子">河西莉子</a></li>

          <li><a href="../search/?lang=cn&searchword=牧原香鱼" title="牧原香鱼">牧原香鱼</a></li>

          <li><a href="../search/?lang=cn&searchword=金子美穗" title="金子美穗">金子美穗</a></li>

          <li><a href="../search/?lang=cn&searchword=稚名桃子" title="稚名桃子">稚名桃子</a></li>

          <li><a href="../search/?lang=cn&searchword=暗黑萝莉" title="暗黑萝莉">暗黑萝莉</a></li>

          <li><a href="../search/?lang=cn&searchword=工口小学生赛高酱" title="工口小学生赛高酱">工口小学生赛高酱</a></li>

        </ul>
      </div>

      <div class="card-active">
        <h4>最新图集</h4>
        <ul>
          {% for photo in Photo_list %}
            {% if photo.id < 4 %}
          <li>
            <a href="/photo/{{ photo.get_photo_id}}" title="{{ photo.name_chinese}}">
              <img class="lazyloads" data-original='{{ photo.get_cover_pic_link }}' alt="{{ photo.name_chinese}}">
              <span>{{ photo.name_chinese }}</span>
            </a>
          </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

<!--       <div class="card-hots">
        <h4>为您推荐</h4>
        <ul>

		  <li><a href="../strategy/photo_detail.html" title="2017海南三亚旅游攻略实用版" target='_self'>2017海南三亚旅游攻略实用版</a></li>

		  <li><a href="../strategy/shownews.php?lang=cn&id=57" title="与海浪共舞，享垂钓乐趣！一起去三亚海钓！" target='_self'>与海浪共舞，享垂钓乐趣！一起去三亚海钓！</a></li>

		  <li><a href="../strategy/shownews.php?lang=cn&id=56" title="海南旅游自由行攻略" target='_self'>海南旅游自由行攻略</a></li>

		  <li><a href="../strategy/shownews.php?lang=cn&id=55" title="海南三亚旅游攻略实用版－五天四晚游" target='_self'>海南三亚旅游攻略实用版－五天四晚游</a></li>
 
		</ul>
      </div>
 -->
</div>