


  <div class="tags">
      <h4>热搜标签</h4>
      
        {% for actress in hot_actress %}


        
          <a class="btn btn-outline-primary mb-2" href="../search/?kwd={{ actress.actress_name_ch }}" title="{{ actress.actress_name_ch }}">  
            {{ actress.actress_name_ch }}
          </a>
        
        {% endfor %}
      
    </div>

      <div class="card-active">
        <h4>相关推荐</h4>
        
          {% for photo in new_photo_list %}
          
            <a href="/photo/{{ photo.get_photo_id}}" title="{{ photo.name_chinese}}">
              <img  class="card-img-top img-fluid border-light lazyloadx" data-original='{{ photo.get_cover_pic_link }}' 
              src="/static/image/loading.png"
              alt="{{ photo.name_chinese}}">
            
              <span>{{ photo.name_chinese }}</span>
            </a>
            
          
          {% endfor %}
        
      </div>
