<!DOCTYPE HTML>
<html class="h-100">

{% include 'doll_sites/head.html' %}

<body class="d-flex flex-column h-100">

  <!-- Header & Navigation -->
  {% include 'doll_sites/navi.html' %}
 
 

  <div class="container text-center">
    <div class="text-center font-weight-bold mt-5" style="font-size: 28px;" >
        <a class="nav-link d-inline text-dark" href='/'> <img width="40"  class="d-inline-block align-center pb-2 mr-1" src="/static/image/logo-border.png" alt="">
        小熊社</a>
        <div class=" dropdown-divider mx-auto" style="width: 200px;"> </div>
      </div>

    <div class="card-columns mt-5 col-10 mx-auto">

      <div class="card p-3">
        <div class="card-body">
          <h5>月度会员</h5>
          <p>¥ {{ month_price }}</p>
            {% if user.is_authenticated %}
                <form id='pay_form' method='get' action='/payment_center' onsubmit="return payVal()">
                {% else %}
                <form id='pay_form'>
                {% endif %}
                  <input id='api_user' name='api_user' type='hidden' value='{{ api_user }}' />
                  <input id='price' name='price' type='hidden' value='{{ month_price }}' />
                  <input id='type' name='type' type='hidden' value='{{ pay_type }}' />
                  <input id='redirect' name='redirect' type='hidden' value='{{ month_redirect }}' />
                  <input id='order_id' name='order_id' type='hidden' value='{{ order_id }}' />
                  <input id='order_info' name='order_info' type='hidden' value='{{ user }}'/>
                  <input id='notify_url' name='notify_url' type='hidden' value='{{ notify_url }}' />
                  <input id='signature' name='signature' type='hidden' value='{{ month_signature }}' />
                  <input id='order_type' name='order_type' type='hidden' value='member'/>
                  {% load account %}
                  {% user_display user as user_display %}
                  <input id='user_name' name='user_name' type='hidden' value='{{ user_display }}' />
                  {% if user.is_authenticated %}
                  <input class="btn btn-block btn-outline-primary" id='btn_pay' value='立即购买' type='submit' onclick="create_order()">
                  {% else %}
                  <input class="btn btn-block btn-outline-primary" id='btn_pay' value='立即购买' type='submit' onclick="window.open('/accounts/signup/?next={{ current_url }}')">
                  {% endif %}
                </form>
        </div>
      </div>

      <div class="card card-shadow px-3 pt-3">
        <div class="card-body">
          <h5>季度会员</h5>
          <p>¥ {{ season_price }}</p>
            {% if user.is_authenticated %}
            <form id='pay_form' method='get' action='/payment_center' onsubmit="return payVal()">
              {% else %}
                <form id='pay_form'>
                {% endif %}
                  <input id='api_user' name='api_user' type='hidden' value='{{ api_user }}' />
                  <input id='price_season' name='price' type='hidden' value='{{ season_price }}' />
                  <input id='type' name='type' type='hidden' value='{{ pay_type }}' />
                  <input id='redirect' name='redirect' type='hidden' value='{{ season_redirect }}' />
                  <input id='order_id_season' name='order_id' type='hidden' value='{{ order_id_season }}' />
                  <input id='order_info_season' name='order_info' type='hidden' value='{{ user }}'>
                  <input id='notify_url' name='notify_url' type='hidden' value='{{ notify_url }}' />
                  <input id='signature' name='signature' type='hidden' value='{{ season_signature }}' />
                  <input id='order_type' name='order_type' type='hidden' value='member'/>
                  {% load account %}
                  {% user_display user as user_display %}
                  <input id='user_name' name='user_name' type='hidden' value='{{ user_display }}' />
                  {% if user.is_authenticated %}
                  <input class="btn btn-block btn-outline-primary" id='btn_pay' value='立即购买' type='submit' onclick="create_order_season()">
                  {% else %}
                  <input class="btn btn-block btn-outline-primary" id='btn_pay' value='立即购买' type='submit' onclick="window.open('/accounts/signup/?next={{ current_url }}')">
                  {% endif %}
                </form>
        </div>
        <div class="card-footer bg-white">多数人选择</div>
      </div>

      <div class="card p-3">
        <div class="card-body">
          <h5>年度会员</h5>
          <p>¥ {{ year_price }}</p>
            {% if user.is_authenticated %}
            <form id='pay_form' method='get' action='/payment_center' onsubmit="return payVal()">
              {% else %}
                <form id='pay_form'>
                {% endif %}
                  <input id='api_user' name='api_user' type='hidden' value='{{ api_user }}' />
                  <input id='price_year' name='price' type='hidden' value='{{ year_price }}' />
                  <input id='type' name='type' type='hidden' value='{{ pay_type }}' />
                  <input id='redirect' name='redirect' type='hidden' value='{{ year_redirect }}' />
                  <input id='order_id_year' name='order_id' type='hidden' value='{{ order_id_year }}' />
                  <input id='order_info_year' name='order_info' type='hidden' value='{{ user }}'>
                  <input id='notify_url' name='notify_url' type='hidden' value='{{ notify_url }}' />
                  <input id='signature' name='signature' type='hidden' value='{{ year_signature }}' />
                  <input id='order_type' name='order_type' type='hidden' value='member'/>
                  {% load account %}
                  {% user_display user as user_display %}
                  <input id='user_name' name='user_name' type='hidden' value='{{ user_display }}' />
                  {% if user.is_authenticated %}
                  <input class="btn btn-block btn-outline-primary" id='btn_pay' value='立即购买' type='submit' onclick="create_order_year()">
                  {% else %}
                  <input class="btn btn-block btn-outline-primary" id='btn_pay' value='立即购买' type='submit' onclick="window.open('/accounts/signup/?next={{ current_url }}')">
                  {% endif %}
                </form>
        </div>
      </div>

    </div>

    <div class="text-center col-8 mt-5 mx-auto">
      <p>{{ intro_text.config_value }}</p>

    </div>
  </div>


{% include 'doll_sites/footer.html' %}

<script type='text/javascript'>
  function payVal(){
   return true;
  }
</script>

  <script type='text/javascript'>
    function create_order(){
      $.post("/create_order",{
        user_name:$('#user_name').val(),
        order_id:$("#order_id").val(),
        order_info:$("#order_info").val(),
        order_status:"pending",
        order_type:$("#order_type").val(),
        price:$("#price").val(),
        }
      );
      gtag('event', 'create_order', {'send_to': 'UA-127776067-1','event_category': 'item','event_label': 'month_member'});
    }
  </script>

  <script type='text/javascript'>
    function create_order_season(){
      $.post("/create_order",{
        user_name:$('#user_name').val(),
        order_id:$("#order_id_season").val(),
        order_info:$("#order_info_season").val(),
        order_status:"pending",
        order_type:$("#order_type").val(),
        price:$("#price_season").val(),
        }
      );
      gtag('event', 'create_order', {'send_to': 'UA-127776067-1','event_category': 'item','event_label': 'season_member'});
    }
  </script>

  <script type='text/javascript'>
    function create_order_year(){
      $.post("/create_order",{
        user_name:$('#user_name').val(),
        order_id:$("#order_id_year").val(),
        order_info:$("#order_info_year").val(),
        order_status:"pending",
        order_type:$("#order_type").val(),
        price:$("#price_year").val(),
        }
      );
      gtag('event', 'create_order', {'send_to': 'UA-127776067-1','event_category': 'item','event_label': 'year_member'});
    }
  </script>

  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"></script>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.lazyload.js"></script>
<script src="/static/js/main.js"></script>




</body>
</html>