 <div>
  <header>
    <div class="nav-box">
        <nav class="navbar my-navbar" role="navigation" style="background: #e91e63; margin-bottom: 20px; border: 0px;">
          <div class="container-fluid"> 
            <div class="width-box">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">

                    小熊社

                </a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="/">
                      <p>
                        首页
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/photos/">
                      <p>
                        画廊
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/actress/">
                      <p>
                        偶像
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="/about/">
                      <p>
                        关于
                      </p>
                    </a>
                  </li>
                </ul>
            </div>
          </div>
          </div>
        </nav>
    </div>
  </header>
</div>
