

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127776067-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-127776067-1');
    </script>

    <!-- 引入 Bootstrap -->
    <link rel='stylesheet' href='/static/css/bootstrap.css'>
    <link rel='stylesheet' href='/static/css/style.css'>

    <!-- fontawsome -->
    <link href="/static/css/all.css" rel="stylesheet">
    <!--load all styles -->

</head>
        
<body>
    


<nav class="navbar d-block navbar-expand-sm navbar-dark bg-dark ">
  <div class="container">
      <a href="/" class="navbar-brand mr-4 mt-1">
        <img width="30"  class="d-inline-block align-center pb-1 mr-1" src="/static/image/logo.png" alt="">
        小熊社
    </a>
      <button class="navbar-toggler border-0" data-toggle="collapse" data-target="#navbarCollapse">
            <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          
          <ul class="navbar-nav mr-auto mr-lg-4">
              <li class="nav-item {% if nbar == 'home' %}active{% endif %}">
                  <a href="/" class="nav-link">首页</a>
              </li>
              <li class="nav-item {% if nbar == 'CandyDoll' %}active{% endif %}">
                  <a href="/photos/0/1/1" class="nav-link">Candydoll</a>
              </li>
              <li class="nav-item {% if nbar == 'Imouto' %}active{% endif %}">
                  <a href="/photos/0/3/1" class="nav-link">Imouto.tv</a>
              </li>
              <li class="nav-item {% if nbar == 'actress' %}active{% endif %}">
                  <a href="/actress/1" class="nav-link">偶像</a>
              </li>
              <li class="nav-item {% if nbar == 'about' %}active{% endif %}">
                  <a href="/about/" class="nav-link">关于</a>
              </li>
          </ul>

        <!-- <form class="form-inline  my-2 my-lg-0" method="get" action="/search/">
                                <input class="form-control mr-sm-2" type="search" placeholder="工口小学生赛高酱" aria-label="Search" name="kwd" value='{{ kwd }}'>
                                <button class="btn my-2 my-sm-0" type="submit" >
                                    <i class="fas fa-search text-light"></i> 
                                </button>
                              </form> -->
        <form class="form-inline  my-2 my-lg-0" method="get" action="/search/">
            
                <div class="input-group ">
                    <input type="text" class="form-control" placeholder="工口小学生赛高酱" aria-label="Search" aria-describedby="" name="kwd"
                        value='{{ kwd }}'>
        
                    <button class="btn btn-outline-secondary " type="submit">
                        <i class="fas fa-search"></i>
                    </button>
        
                </div>
            
        </form>

        <div class="ml-auto d-lg-flex">
          {% load account %}
          {% user_display user as user_display %}
          
              {% if user_display %}
              
                  <a href="/accounts/profile/" class="nav-link text-light px-0">
                    <i class="fas fa-user mr-1"></i>
                    {{ user_display }}
                </a>
             
                  <a href="/accounts/logout/" class="nav-link text-light">登出</a>
              
              {% else %}
              
                 
                  <a href="/accounts/signup/" class=" btn btn-outline-light " role="button">注册</a>
               
              
                  <a href="/accounts/login/" class="nav-link text-light">登录</a>
                
              {% endif %}
            </div>
      </div>
  </div>
</nav>

</body>

</html>