<nav class="navbar d-block navbar-expand-sm navbar-dark bg-dark ">
  <div class="container">
      <a href="/" class="navbar-brand mr-4 mt-1">
        <img width="30"  class="d-inline-block align-center pb-1 mr-1" src="/static/image/logo.png" alt="">
        小熊社
    </a>
      <button class="navbar-toggler border-0" data-toggle="collapse" data-target="#navbarCollapse">
            <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          
          <ul class="navbar-nav mr-auto mr-lg-4">
              <li class="nav-item {% if nbar == 'home' %}active{% endif %}">
                  <a href="/" class="nav-link" onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Navi_index_navi'});">首页</a>
              </li>
              <li class="nav-item {% if nbar == 'CandyDoll' %}active{% endif %}">
                  <a href="/photos/0/1/1" class="nav-link"onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Navi_candydoll_navi'});">Candydoll</a>
              </li>
              <li class="nav-item {% if nbar == 'Imouto' %}active{% endif %}">
                  <a href="/photos/0/3/1" class="nav-link" onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Navi_imouto_navi'});">Imouto.tv</a>
              </li>
              <li class="nav-item {% if nbar == 'actress' %}active{% endif %}">
                  <a href="/actress/1" class="nav-link" onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Navi_actress_navi'});">偶像</a>
              </li>
              <li class="nav-item {% if nbar == 'member' %}active{% endif %}">
                <a href="/member/" class="nav-link" onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Navi_member_navi'});">会员</a>
            </li>
              <li class="nav-item {% if nbar == 'about' %}active{% endif %}">
                  <a href="/about/" class="nav-link" onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Navi_about_navi'});">关于</a>
              </li>
          </ul>

        <form class="form-inline  my-2 my-lg-0" method="get" action="/search/">
            
                <div class="input-group ">
                  <input type="text" class="form-control" placeholder="工口小学生赛高酱" aria-label="Search" aria-describedby="" name="kwd"value="{{ kwd }}">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary " type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            
        </form>

        <div class="ml-auto d-lg-flex">
          {% load account %}
          {% user_display user as user_display %}
          
              {% if user_display %}
              
                  <a href="/accounts/profile/" class="nav-link text-light px-0">
                    <i class="fas fa-user mr-1"></i>
                    {{ user_display }}
                </a>
             
                  <a href="/accounts/logout/" class="nav-link text-light">登出</a>
              
              {% else %}
              
                 
                  <a href="/accounts/signup/?next=/invite_code" class=" btn btn-outline-light " role="button">注册</a>
               
              
                  <a href="/accounts/login/" class="nav-link text-light ">登录</a>
                
              {% endif %}
            </div>
      </div>
  </div>
</nav>