<!DOCTYPE HTML>
<html class="h-100">

{% include 'doll_sites/head.html' %}

<body class="d-flex flex-column h-100">

  <!-- Header & Navigation -->
  {% include 'doll_sites/navi.html' %}

 

  <div class="container text-center ">
      <div id="message"></div>

      <form id='pay_form' method='post' action='https://www.paypayzhu.com/api/pay_json'>
  
        <input id='api_user' name='api_user'  value={api_user} />
        <input id='price' name='price'  value=price />
        <input id='type' name='type'  value=type />
        <input id='redirect' name='redirect' value=redirect />
        <input id='order_id' name='order_id'  value=order_id />
        <input id='order_info' name='order_info'  value=order_info/>
        <input id='notify_url' name='notify_url'  value=notify_url />
        <input id='signature' name='signature'  value=signature />
        <input id='order_type' name='order_type'  value='member'/>
        <input id='user_name' name='user_name' value='{{ user_display }}' />
        <input class="btn btn-block btn-outline-primary" id='btn_pay' value='立即购买' type='submit' onclick="">
       
      </form>
      <div id="response"></div>


    <div class="font-weight-bold m-4">
        <img
      width="50"
      class="d-inline-block align-center pb-2 mr-1"
      src="/static/image/logo-border.png"
      alt=""
    />
    <h4>支付中心</h4>
  </div>
    <div class="">
      <h1 id="price-title"></h1>
      <p id="order_id-title"></p>
    </div>
    <div class="card pay-card mx-auto">
      <div class="card-title m-0">
          <nav class="">
              <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist" >
                <a class="nav-item nav-link active " id="nav-AliPay-tab" data-toggle="tab" href="#nav-AliPay" role="tab" aria-controls="nav-AliPay" aria-selected="true" >支付宝</a>
                <a class="nav-item nav-link" id="nav-WeChatPay-tab" data-toggle="tab" href="#nav-WeChatPay" role="tab" aria-controls="nav-WeChatPay" aria-selected="false">微信支付</a>
              </div>
            </nav>
      </div>
      <div class="card-body">
          
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-AliPay" role="tabpanel" aria-labelledby="nav-AliPay-tab">
                  <a id="alipay-button" href=""  class="btn btn-primary px-5 py-3 m-4 d-lg-none  ">启动支付宝支付</a>
                  <img id="qrcode-alipay" src="/static/image/QRcode.png" alt="" style=" width: 300px">
                </div>
                <div class="tab-pane fade" id="nav-WeChatPay" role="tabpanel" aria-labelledby="nav-WeChatPay-tab">
                    <a id="wechatPay-button" href="/" class="btn btn-primary px-5 py-3 m-4 d-lg-none ">启动微信支付</a>
                    <img id="qrcode-wechat" src="/static/image/QRcode.png" alt="" style=" width: 300px"> 
                </div>
      </div>
    </div>
      
       
</div>
<div class="m-5">
  <p>过期时间2019-5-29 14:12:03</p>
  <p>如未到账，请联系客服人员处理QQ92910129</p>
</div>
  </div>

    

  <div class="d-flex flex-wrap justify-content-between">
      {% for photo in recommend_newest %}
      <div class="card border-0 col-md-8 col-lg  p-0">
  
        <a href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self'>
          <img class="card-img-top img-fluid border-light lazyloadx" data-original="{{ photo.get_cover_pic_link }}"
            src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
        </a>
        <div class="card-body">
          <p class="card-text">{{ photo.name_chinese }}</p>
        </div>
      </div>
      {% endfor %}
    </div>



{% include 'doll_sites/footer.html' %}









  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.lazyload.js"></script>
  <script src="/static/js/main.js"></script>

  <script type='text/javascript'>
    function getQueryVariable(variable)
  {
         var query = window.location.search.substring(1);
         var vars = query.split("&");
         for (var i=0;i<vars.length;i++) {
                 var pair = vars[i].split("=");
                 if(pair[0] == variable){return pair[1];}
         }
         return(false);
  }
  
        var api_user = getQueryVariable('api_user');
         var price = getQueryVariable('price');
         var type = getQueryVariable('type');
         var redirect = decodeURIComponent(getQueryVariable('redirect'));
         var order_id = getQueryVariable('order_id');
         var order_info = getQueryVariable('order_info');
         var notify_url = decodeURIComponent(getQueryVariable('notify_url'));
         var signature = getQueryVariable('signature');

         document.getElementById('api_user').value = api_user;
         document.getElementById('price').value = price;
         document.getElementById('type').value = type;
         document.getElementById('redirect').value = redirect;
         document.getElementById('order_id').value = order_id;
         document.getElementById('order_info').value = order_info;
         document.getElementById('notify_url').value = notify_url;
         document.getElementById('signature').value = signature;


         document.getElementById('order_id-title').textContent = '订单号： ' + order_id;

         /**
 * sends a request to the specified url from a form. this will change the window location.
 * @param {string} path the path to send the post request to
 * @param {object} params the paramiters to add to the url
 * @param {string} [method=post] the method to use on the form
 */

// function post(path, params, method='post') {

// // The rest of this code assumes you are not using a library.
// // It can be made less wordy if you use one.
// const form = document.createElement('form');
// form.method = method;
// form.action = path;

// for (const key in params) {
//   if (params.hasOwnProperty(key)) {
//     const hiddenField = document.createElement('input');
//     hiddenField.type = 'hidden';
//     hiddenField.name = key;
//     hiddenField.value = params[key];

//     form.appendChild(hiddenField);
//   }
// }

// document.body.appendChild(form);
// form.submit();
// }

// var param1 = {'api_user': api_user,
//   'price': price,
//   'type': type,
//   'redirect': redirect,
//   'order_id': order_id,
//   'order_info': order_info,
//   'notify_url': notify_url,
//   'signature': signature};

//   post('https://www.paypayzhu.com/api/pay_json', param1);



  
</script>



<script>
    $(function() {
        $("#pay_form").on("submit", function(e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                type: 'POST',
                data: $(this).serialize(),
                dataType: '',
                beforeSend: function() {
                    $("#message").html("sending...");
                },
                success: function(data) {
                    $("#message").hide();
                    var json = data;
                    var obj  = JSON.parse(json);
                    console.log(obj.info.sdk_url);
                    document.getElementById('price-title').textContent = '¥ ' + obj.info.real_price;
                    document.getElementById('qrcode-alipay').src = obj.info.qrcode;
                    document.getElementById('alipay-button').href = obj.info.sdk_url;
                }
            });
        });
    });
</script>


<!-- <script>
  window.onload = function(){
    var x = {
    api_user: api_user,
  price: price,
  type: type,
  redirect: redirect,
  order_id: order_id,
  order_info: order_info,
  notify_url: notify_url,
  signature: signature
};

 var s = JSON.stringify(x);
 
  console.log(s);

  var url = 'https://www.paypayzhu.com/api/pay_json';
  var xhr = new XMLHttpRequest();
  function processRequest(e) {
    if (this.readyState === 4 && this.status === 200) {
      var responseData = JSON.parse(xhr.responseText);
      document.getElementById('price-title').textContent = responseData.real_price;
      
    }
  }
  xhr.open('post',url,true);
  xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');

  xhr.send(s);
  xhr.onreadystatechange = processRequest;
  

  processRequest();





  }
</script> -->
</body>
</html>