<!DOCTYPE HTML>
<html class="h-100">

{% include 'doll_sites/head.html' %}

<body class="d-flex flex-column h-100">

  <!-- Header & Navigation -->
  {% include 'doll_sites/navi.html' %}


  <div class="container">
    <div class="text-center font-weight-bold mt-5" style="font-size: 28px;">支付中心</div>
    <div class="card pay-card mx-auto mt-5" style="width:400x;">
      <div class="card-title">
          <nav class="">
              <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist" >
                <a class="nav-item nav-link active" id="nav-AliPay-tab" data-toggle="tab" href="#nav-AliPay" role="tab" aria-controls="nav-AliPay" aria-selected="true">支付宝</a>
                <a class="nav-item nav-link" id="nav-WeChatPay-tab" data-toggle="tab" href="#nav-WeChatPay" role="tab" aria-controls="nav-WeChatPay" aria-selected="false">微信支付</a>
              </div>
            </nav>
      </div>
      <div class="card-body">
          
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-AliPay" role="tabpanel" aria-labelledby="nav-AliPay-tab">支付宝</div>
                <div class="tab-pane fade" id="nav-WeChatPay" role="tabpanel" aria-labelledby="nav-WeChatPay-tab">微信支付</div>
      </div>
    </div>
      
       
</div>

  </div>

    

  <div class="d-flex flex-wrap justify-content-between">
      {% for photo in recommend_newest %}
      <div class="card border-0 col-md-8 col-lg  p-0">
  
        <a href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self'>
          <img class="card-img-top img-fluid border-light lazyloadx" data-original="{{ photo.get_cover_pic_link }}"
            src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
        </a>
        <div class="card-body">
          <p class="card-text">{{ photo.name_chinese }}</p>
        </div>
      </div>
      {% endfor %}
    </div>



{% include 'doll_sites/footer.html' %}


  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.lazyload.js"></script>
  <script src="/static/js/main.js"></script>

</body>
</html>