<!DOCTYPE HTML>
<html>
<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127776067-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127776067-1');
  </script>

  <!-- 引入 Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <title> 小熊社-ロリータ世界！|萝莉图库|白丝|cosplay </title>
  <meta name="renderer" content="webkit">
  <meta name="referrer" content="never">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="applicable-device" content="pc,mobile">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="小熊社|萝莉图库|白丝|cosplay" />
  <meta name="keywords" content="小熊社|萝莉图库|白丝|cosplay" />
  <link rel='stylesheet' href='/static/css/style.css'>
</head>
<body>

  <!-- Header & Navigation -->
  {% include 'doll_sites/navi.html' %}
<section class="main">
  <div class="width-box">

	<div class="main-left">
      <div class="card-list">
        <div class="card-title">{{ photo_detail.name_chinese }} </div>

		<div class="met-editor lazyload clearfix">
			<div>
			{% block content %}
				{% for pic in photo_detail.get_all_pic_link %}
					<img 
						onclick="zoom(this, this.src, 0, 0, 0)" 
						class="lazyloadx" 
						src="/static/image/loading.png"
						onmouseover="img_onmouseoverfunc(this)" 
						lazyloadthumb="1" 
						border="0"
						alt="{{ Photo_detail.name_chinese }}" 
						data-original="{{ pic }}" 
						lazyloaded="true"
						style="margin-bottom: 20px" 
					>
				{% endfor %}
	        {% endblock %}
     		</div>
		</div>

      </div>
    </div>

<!-- 右侧推荐位 -->
<div class="main-right">

      <div class="card-tags">
        <h4>热搜标签</h4>
        <ul>

          <li><a href="../search/?lang=cn&searchword=尾野寺みさ" title="尾野寺みさ">尾野寺みさ</a></li>

          <li><a href="../search/?lang=cn&searchword=河西莉子" title="河西莉子">河西莉子</a></li>

          <li><a href="../search/?lang=cn&searchword=牧原香鱼" title="牧原香鱼">牧原香鱼</a></li>

          <li><a href="../search/?lang=cn&searchword=金子美穗" title="金子美穗">金子美穗</a></li>

          <li><a href="../search/?lang=cn&searchword=稚名桃子" title="稚名桃子">稚名桃子</a></li>

          <li><a href="../search/?lang=cn&searchword=暗黑萝莉" title="暗黑萝莉">暗黑萝莉</a></li>

          <li><a href="../search/?lang=cn&searchword=工口小学生赛高酱" title="工口小学生赛高酱">工口小学生赛高酱</a></li>

        </ul>
      </div>

      <div class="card-active">
        <h4>相关推荐</h4>

      </div>

  </div>
</section>

{% include 'doll_sites/footer.html' %}

<script src="/static/js/shop_lang_cn.js"></script>

<script src="/static/js/style.js"></script>

<script src="/static/js/shop_v3.js"></script>

</body>
</html>