<!DOCTYPE HTML>
<html class="h-100">

{% include 'doll_sites/head.html' %}

<body>

<!-- Header & Navigation -->
{% include 'doll_sites/navi.html' %}

<a href="#" class="bg-dark scroll-top" id="scroll">
    <i class="fas fa-chevron-up text-white "></i>
  </a>



<div class="container">
  <div class="row">
    <div class="col-lg-9 px-0">
        <section id="discrition" class="px-4">
            <div class="mt-4 mt-lg-5"> 
                <h5 class="mb-3">{{ photo_detail.name_chinese }}
                    {% if photo_detail.vip_bundle %}
                      <span class="badge badge-warning">精品</span>
                    {% else %}
                      {% if vip_album %}
                        <span class="badge badge-warning">会员</span>
                      {% endif %}
                    {% endif %}
                  </h5>
              <div class="row">
                <div class="col col-lg-3 d-lg-none">
                  <img class="lazyloadx col-lg-10 p-0 mb-4 " src="/static/image/loading.png" 
                  lazyloadthumb="1"
                  alt="{{ photo_detail.name_chinese }} {{ photo_detail.company }} {% for modelname in current_actress %}{{ modelname }}{% endfor %}"
                  data-original="{{ photo_detail.get_cover_pic_link }}" lazyloaded="true"></div>
                <div class="col col-lg-9 ">
                  <p class="mb-2 text-muted ">模特：
                    <span> {% for actress in current_actress %}
                      <a href="{{ actress.get_absolute_url }}" class="card-text text-truncate mb-1 ">
                        {{ actress.actress_name_ch }}
                      </a>
                      {% endfor %}
                    </span>
                  </p>
                  <p class="mb-2 text-muted">热度：<span class="text-dark">{{ album_temperature }}</span>
                  </p>
                  <p class="mb-2 text-muted">浏览量：<span class="text-dark">{{ album_views_count }}</span>
                  </p>
                  <p class="mb-2 text-muted">图片总数：<span class="text-dark">{{ pic_count }}</span>
                  </p>
                  <p class="mb-2 text-muted">标签：
                     {% for tag in album_tag %}
                      <a href="../search/?kwd={{ tag }}" class="card-text text-truncate mb-1 ">
                        {{ tag }}
                      </a>
                      {% endfor %}
                  </p>
                </div>
              </div>
            </div>
          </section>
           <!-- nav-tabs -->
          <ul class="nav sticky-tab nav-tabs nav-fill d-lg-none" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#menu1">图集</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">下载/推荐</a>
              </li>
          </ul>
              <!-- contents -->
          <div class="container text-sm-center text-lg-left">
                  <div class="tab-content">
                     <div id="menu1" class="tab-pane show active mt-4 mr-lg-5 pl-lg-2 pr-lg-5">
                                {% if photo_detail.video_id %}
                                {% if user_vip_status %}
                                <!-- 如果是会员 -->
                                <video id="player-container-id" preload="auto" class="w-100 mb-4 video-container" playsinline webkit-playsinline>
                                </video>
                                {% else %}
                                <!-- 如果是非会员 -->
                                <a class="relative-box text-white" href="/member?redirect_url={{ current_url }}?paid=true">

                                  <div class="text-center poster-top">
                                    <p class="mb-4 poster-text">升级VIP会员，观看在线视频</p>
                                    <div class="play-icon mx-auto">
                                    <svg class="" width="100%" height="100%" viewBox="0 0 92 66" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                      <!-- Generator: Sketch 53.2 (72643) - https://sketchapp.com -->
                                      <title>youtube-play-button</title>
                                      <desc>Created with Sketch.</desc>
                                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                          <g id="youtube-play-button" transform="translate(1.000000, 1.000000)" fill-rule="nonzero">
                                              <path d="M90,13.958 C90,6.525 83.979,0.5 76.55,0.5 L13.45,0.5 C6.021,0.5 0,6.525 0,13.958 L0,50.042 C0,57.475 6.021,63.5 13.45,63.5 L76.55,63.5 C83.979,63.5 90,57.475 90,50.042 L90,13.958 Z" id="YouTube__x28_alt_x29_" stroke="#FFFFFF" stroke-width="1.5" fill-opacity="0.8" fill="#2F3034"></path>
                                              <polygon id="YouTube__x28_alt_x29_-path" fill="#FFFFFF" points="36 47.225 36 13.33 61.702 30.277"></polygon>
                                          </g>
                                      </g>
                                  </svg>
                                </div>
                                  </div>

                                <img class="lazyloadx p-0 mb-4 img-fluid w-100 video-poster" src="/static/image/loading.png" onmouseover="img_onmouseoverfunc(this)"
                                lazyloadthumb="1"
                                alt="{{ photo_detail.name_chinese }} {{ photo_detail.company }} {% for modelname in current_actress %}{{ modelname }}{% endfor %}"
                                data-original="{{ photo_detail.video_poster }}" lazyloaded="true">

                                </a>

                                {% endif %}
                                {% endif %}
                              

                                {% if vip_album %}
                                {% if user_vip_status %}
                                <!-- 如果是会员 -->
                                {% for pic in photo_detail.get_all_pic_link %}
                                <img class="lazyloadx p-0 mb-4 img-fluid w-100" src="/static/image/loading.png" onmouseover="img_onmouseoverfunc(this)"
                                  lazyloadthumb="1"
                                  alt="{{ photo_detail.name_chinese }} {{ photo_detail.company }} {% for modelname in current_actress %}{{ modelname }}{% endfor %}"
                                  data-original="{{ pic }}" lazyloaded="true" data-action="zoom">
                                {% endfor %}
                                {% else %}
                                <!-- 如果不是会员 -->
                                <div class="mb-4 relative-box  p-0">
                                  <div class="buy-content p-5 text-center">
                                    <p class="text-white">本图集为VIP相册，请购买VIP后观看</p>
                                    <a class="btn btn-primary " href="/member?redirect_url={{ current_url }}?paid=true">升级为会员</a>
                                  </div>
                              
                                  <img class="lazyloadx blur-img w-100 img-fluid" src="{{ photo_detail.get_cover_pic_link }}"
                                    onmouseover="img_onmouseoverfunc(this)" lazyloadthumb="1" alt="{{ Photo_detail.name_chinese }}"
                                    data-original="{{ photo_detail.get_cover_pic_link }}" lazyloaded="true">
                                </div>
                              
                                {% endif %}
                                {% else %}
                                {% for pic in photo_detail.get_all_pic_link %}
                                <img class="lazyloadx p-0 mb-4 img-fluid" src="/static/image/loading.png" onmouseover="img_onmouseoverfunc(this)"
                                  lazyloadthumb="1"
                                  alt="{{ photo_detail.name_chinese }} {{ photo_detail.company }} {% for modelname in current_actress %}{{ modelname }}{% endfor %}"
                                  data-original="{{ pic }}" lazyloaded="true" data-action="zoom">
                                {% endfor %}
                                {% endif %}

                     
                   </div>
             
                    <div id="menu2" class="tab-pane fade mt-4 d-lg-none">
                      
                       
                         {% if buy_links %}
                         <div class="card mb-5 text-center">
                           <div class="card-body">
                               
                            
                               {% if album_already_paid %}
                               <p>{{ buy_content }}</p>
                       
                             <a class="btn btn-block btn-primary" href="{% for link in buy_links %}{{link}}{% endfor %}" target="_blank">前往下载</a>
                             {% else %}
             
                             <p>{{ buy_content }}</p>
                             <p class="lead"><strong>￥{{ order_price }}</strong></p>
             
                             <a class="btn btn-primary btn-block mb-3" href="/member?redirect_url={{ current_url }}?paid=true">会员免费下载</a>
                           
                             {% if user.is_authenticated %}
                             
             
                             <form id='pay_form' method='post' action='https://www.paypayzhu.com/api/pay' target="_blank">
                             {% else %}
                             <form id='pay_form'>
                             {% endif %}
                               <input id='api_user' name='api_user' type='hidden' value='{{ api_user }}' />
                               <input id='price' name='price' type='hidden' value='{{ order_price }}' />
                               <input id='type' name='type' type='hidden' value='{{ pay_type }}' />
                               <input id='redirect' name='redirect' type='hidden' value='{{ redirect }}' />
                               <input id='order_id' name='order_id' type='hidden' value='{{ order_id }}' />
                               <input id='order_info' name='order_info' type='hidden' value='{{ order_info }}' />
                               <input id='notify_url' name='notify_url' type='hidden' value='{{ notify_url }}' />
                               <input id='signature' name='signature' type='hidden' value='{{ single_signature }}' />
                               <input id='order_type' name='order_type' type='hidden' value='single' />
                               {% load account %}
                               {% user_display user as user_display %}
                               <input id='user_name' name='user_name' type='hidden' value='{{ user_display }}' />
                               {% if user.is_authenticated %}
                               <input class="btn btn-primary btn-block" id='btn_pay' value='购买相册' type='submit' onclick="create_order()">
                               {% else %}
                               <input class="btn btn-outline-primary btn-block" id='btn_pay' value='购买相册' type='submit' onclick="window.open('/accounts/login/?next={{ current_url }}')">
                               {% endif %}
                             </form>
                       
                       
                             {% endif %}
                             <a href="/accounts/login/?next=/photo/{{ photo_detail.id }}" class="nav-link"></a>
                           </div>
                         </div>
                         {% endif %}
             
                           <div class="tags my-3">
                             <h5 class="mb-3" >热搜标签</h5>
                             
                               {% for actress in hot_actress %}
                                 <a class="btn btn-sm btn-outline-primary mb-2 " href="../search/?kwd={{ actress.actress_name_ch }}" title="{{ actress.actress_name_ch }}" onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Rec_hotlabel_detail'});">  
                                   {{ actress.actress_name_ch }}
                                 </a>
                               
                               {% endfor %}
             
                               <div class="my-5">
                                   <h5 class="mb-3">相关推荐</h5>
                                       {% for photo in related_album %}
                                         <a class="photo-link" href="/photo/{{ photo.get_photo_id}}" title="{{ photo.name_chinese }}" onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Rec_rightSide_detail'});">
                                           <img class="card-img-top img-fluid border-light lazyloadx" data-original='{{ photo.get_cover_pic_link }}' src="/static/image/loading.png"
                                             alt="{{ photo.name_chinese}}" lazyloadthumb="1" lazyloaded="true">
                                         <p class="text-center text-truncate p-3">{{ photo.name_chinese }}</p>
                                         </a>
                                       {% endfor %}  
                                 </div>
                         
                       </div>
                    </div>
             
                  </div>
                
                </div>
      </div>
    <div class="col-lg-3 p-lg-0 d-none d-lg-inline-block">
        <div class="mt-lg-5 ml-lg-5">
            {% if buy_links %}
            <div class="card mb-4 text-center">
              <div class="card-body">
                  {% if album_already_paid %}
                  <p>{{ buy_content }}</p>
          
                <a class="btn btn-block btn-primary" href="{% for link in buy_links %}{{link}}{% endfor %}" target="_blank">前往下载</a>
                {% else %}

                <p>{{ buy_content }}</p>
                <p class="lead"><strong>￥{{ order_price }}</strong></p>

                <a class="btn btn-primary btn-block mb-3" href="/member?redirect_url={{ current_url }}?paid=true">会员免费下载</a>
              
                {% if user.is_authenticated %}
                <form id='pay_form' method='post' action='https://www.paypayzhu.com/api/pay' target="_blank">
                {% else %}
                <form id='pay_form'>
                {% endif %}
                  <input id='api_user' name='api_user' type='hidden' value='{{ api_user }}' />
                  <input id='price' name='price' type='hidden' value='{{ order_price }}' />
                  <input id='type' name='type' type='hidden' value='{{ pay_type }}' />
                  <input id='redirect' name='redirect' type='hidden' value='{{ redirect }}' />
                  <input id='order_id' name='order_id' type='hidden' value='{{ order_id }}' />
                  <input id='order_info' name='order_info' type='hidden' value='{{ order_info }}' />
                  <input id='notify_url' name='notify_url' type='hidden' value='{{ notify_url }}' />
                  <input id='signature' name='signature' type='hidden' value='{{ single_signature }}' />
                  <input id='order_type' name='order_type' type='hidden' value='single' />
                  {% load account %}
                  {% user_display user as user_display %}
                  <input id='user_name' name='user_name' type='hidden' value='{{ user_display }}' />
                  {% if user.is_authenticated %}
                  <input class="btn btn-primary btn-block" id='btn_pay' value='购买相册' type='submit' onclick="create_order()">
                  {% else %}
                  <input class="btn btn-outline-primary btn-block" id='btn_pay' value='购买相册' type='submit' onclick="window.open('/accounts/login/?next={{ current_url }}')">
                  {% endif %}
                </form>
          
          
                {% endif %}
                <a href="/accounts/login/?next=/photo/{{ photo_detail.id }}" class="nav-link"></a>
              </div>
            </div>
            {% endif %}
            <h5 class="mb-3" >热搜标签</h5>
            
              {% for actress in hot_actress %}
                <a class="btn btn-sm btn-outline-primary mb-2 " href="../search/?kwd={{ actress.actress_name_ch }}" title="{{ actress.actress_name_ch }}" onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Rec_hotlabel_detail'});">  
                  {{ actress.actress_name_ch }}
                </a>
              
              {% endfor %}
        <div class="my-4">
            <h5 class="mb-3">相关推荐</h5>
                {% for photo in related_album %}
                  <a class="photo-link" href="/photo/{{ photo.get_photo_id}}" title="{{ photo.name_chinese }}" onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Rec_rightSide_detail'});">
                    <img class="card-img-top img-fluid border-light lazyloadx" data-original='{{ photo.get_cover_pic_link }}' src="/static/image/loading.png"
                      alt="{{ photo.name_chinese}}" lazyloadthumb="1" lazyloaded="true">
                  <p class="text-center text-truncate p-3">{{ photo.name_chinese }}</p>
                  </a>
                {% endfor %}  
          </div>
    </div>
  </div>

</div>
</div>
{% include 'doll_sites/footer.html' %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.lazyload.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/libs/hls.min.0.12.4.js"></script>
  <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/libs/dash.all.min.2.9.3.js"></script>
  <script src="//imgcache.qq.com/open/qcloud/video/tcplayer/tcplayer.min.js"></script>
  <script src="/static/js/transition.min.js"></script>
  <script src="/static/js/zoom.js"></script>
  



  <script type='text/javascript'>
    function create_order(){
      $.post("/create_order",{
        user_name:$('#user_name').val(),
        order_id:$("#order_id").val(),
        order_info:$("#order_info").val(),
        order_status:"pending",
        order_type:$("#order_type").val(),
        price:$("#price").val(),
        }
      )
    }
  </script>

<script>

  $(document).ready(function(){

function scrollFunction (){window.scrollTo(0,432-56);}
$(window).scroll(function() {


  if ($(window).scrollTop() >= 432-56) {
    console.log('hello');
    $('.nav-tabs a').on('click', scrollFunction );
  } else {
    $('.nav-tabs a').off('click', scrollFunction );
  }
});

// $('.nav-tabs').on('click', function (e) {
// e.preventDefault()
// $(this).tab('show')
// })


});

    </script>

  <script>
  var player = TCPlayer('player-container-id', { // player-container-id 为播放器容器ID，必须与html中一致
    fileID: '{{ photo_detail.video_id }}', // 请传入需要播放的视频filID 必须
    appID: '1257866695' // 请传入点播账号的appID 必须
  });
  </script>

</body>
</html>