<!DOCTYPE HTML>
<html class="h-100">
<head>

    <meta name="renderer" content="webkit">
    <meta name="referrer" content="never">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="小熊社的相册列表，提供包括Candydoll、Silverstar、Imouto、U15等多个品牌的写真图集，涵盖了包括EvaR,ElonaV,LauraB,金子美穗,河西莉子,牧原香鱼,稚名桃子,工口小学生赛高酱等海内外知名演员" />
    <meta name="keywords" content="萝莉图库,萝莉写真,Silverstar,Candydoll,EvaR,ElonaV,LauraB,U15,金子美穗,河西莉子,牧原香鱼,稚名桃子,工口小学生赛高酱" />
    <title> 相册列表-小熊社-免费自由的萝莉图库|U15|白丝|Candydoll|Silverstar|Imouto.tv </title>

<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127776067-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127776067-1');
  </script>

<!-- 引入 Bootstrap -->
  <link rel='stylesheet' href='/static/css/bootstrap.css'>
  <link rel='stylesheet' href='/static/css/style.css'>
</head>


<body class="d-flex flex-column h-100">

  <!-- Header & Navigation -->
  {% include 'doll_sites/navi.html' %}

  <a  href="#" class="bg-dark" id="scroll">
    <i class="fas fa-chevron-up text-white "></i>
</a>



<div class="container">
  <div class="row">
    <div class="col-lg-9 mt-5 ">
      <div class="d-flex flex-wrap">
          {% block content %}
          {% for photo in current_photo_list %}
          <div class="card card-photolist border-0 my-3 p-0">
      
            <a class="photo-link" href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self'>
              <img class="card-img-top img-fluid border border-light lazyloadx" data-original="{{ photo.get_cover_pic_link }}"
                src="/static/image/loading.png" alt="photos" lazyloadthumb="1" lazyloaded="true">
           
            <div class="card-body p-1 mt-2">
                <p class="card-text  text-truncate mb-0">{{ photo.name_chinese }}</p>
              </a>
                {% for modelname in photo.model_name.all %}
                <a href="/actress_detail/{{ modelname.pk }}" class="card-text text-truncate mb-1 ">
                  <small>{{ modelname }}</small>
              </a>
                {% endfor %}
              </div>
          </div>
          {% endfor %}
          {% endblock %}
  
      </div>
      <div>
          <nav aria-label="photo_list">
              <ul class="pagination justify-content-center mt-4 mb-5">
            
                <!-- 第一页 -->
                {% if current_photo_list.paginator.num_pages > 10 %}
                <li class="page-item">
                  <a class="page-link active" href="/photos/0/0/1">
                    <span>&laquo;</span>
                  </a>
                </li>
                {% endif %}
            
                {% if current_photo_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="/photos/0/0/{{ current_photo_list.previous_page_number }}">
                    <span>&laquo;</span>
                    <span class="sr-only">上一页</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="">
                    <span>&laquo;</span>
                  </a>
                </li>
                {% endif %}
            
            
                {% for i in current_photo_list.paginator.page_num_range %}
                {% if current_photo_list.number == i %}
                <li class="page-item active">
                  <span class="page-link">{{ i }}
                     <span class="sr-only">(current)</span>
                    </span>
                  </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/photos/0/0/{{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
            
             
            
                {% if current_photo_list.has_next %}
                <li class="page-item">
                  <a class="page-link active" href="/photos/0/0/{{ current_photo_list.next_page_number }}">
                    <span>&raquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="">
                    <span>&raquo;</span>
                  </a>
                </li>
                {% endif %}
            
                <!-- 最后一页 -->
                {% if current_photo_list.paginator.num_pages > 10 %}
                <li class="page-item">
                  <a class="page-link active" href="/photos/0/0/{{ current_photo_list.paginator.num_pages }}">
                    <span>&raquo;</span>
                  </a>
                </li>
                {% endif %}
            
              </ul>
            </nav>
      </div>
        

    </div>
    <div class="col-lg-3 mt-5 ">
        {% include 'doll_sites/main-right.html'%}
    </div>
  </div>



</div>










{% include 'doll_sites/footer.html' %}

  


  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.lazyload.js"></script>
  
  <script src="/static/js/main.js"></script>


</body>

</html>