<!DOCTYPE HTML>
<html class="h-100">
<head>

    <meta name="renderer" content="webkit">
    <meta name="referrer" content="never">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="applicable-device" content="pc,mobile">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta 
      name="description" 
      content="
        {% for actress in current_actress %} 
          {{ actress.actress_name_ch }},日文名{{ actress.actress_name_jp }},英文名{{ actress.actress_name_en }},本图集是她在{{ photo_detail.company }}公司,拍摄的{{ photo_detail.name_chinese }}系列,包含{% for tag in photo_tag %}{{ tag.tag_name }}、{% endfor %}等元素,是小熊社精心收集的萝莉图集。
        {% endfor %}" 
    />
    <meta 
      name="keywords" 
      content="{% for actress in current_actress %} 
                 {{ actress.actress_name_ch }},
               {% endfor %}
               {% for tag in photo_tag %} 
                 {{ tag.tag_name }},
               {% endfor %}
               {{ photo_detail.company }}" 
    />
<!--     <title> 
      {% for actress in current_actress %} 
        {{ actress.actress_name_ch }}
      {% endfor %}
      {{ photo_detail.company }}
      {{ photo_detail.name_chinese }}
      - 小熊社
    </title> -->

<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127776067-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127776067-1');
  </script>

<!-- 引入 Bootstrap -->
  <link rel='stylesheet' href='/static/css/bootstrap.css'>
  <link rel='stylesheet' href='/static/css/style.css'>
</head>
<body >

  <!-- Header & Navigation -->
  {% include 'doll_sites/navi.html' %}

  <a  href="#" class="bg-dark" id="scroll">
    <i class="fas fa-chevron-up text-white "></i>
</a>


<!-- Content -->

<section class="container">
    <div class="row d-flex">
        <div class="col-lg-9 mt-5">
            <h5 class="h5">{{ photo_detail.name_chinese }}</h5>
            <!-- 调试原串 -->
            <h5 class="h5">{{ single_signature }}</h5>

            <form id='pay_form' method='post' action='https://www.paypayzhu.com/api/pay'>
              <!-- {% csrf_token %} -->
              <input id='api_user' name='api_user' type='text' value='{{ api_user }}' />
              <input id='price' name='price' type='text' value='{{ order_price }}' />
              <input id='type' name='type' type='text' value='{{ pay_type }}'/>
              <input id='redirect' name='redirect' type='text' value='{{ redirect }}'/>
              <input id='order_id' name='order_id' type='text' value='{{ order_id }}'/>
              <input id='order_info' name='order_info' type='text' value='{{ order_info }}'/>
              <input id='notify_url' name='notify_url' type='text' value='{{ notify_url }}'/>
              <input id='signature' name='signature' type='text' value='{{ single_signature }}'/>
              <input id='btn_pay' type='submit'>
            </form>

            <!-- <form id='pay_form' method='post' action='https://www.paypayzhu.com/api/pay_json'>
              {% csrf_token %}
              <input id='api_user' name='api_user' type='text' value='{{ api_user }}' />
              <input id='price' name='price' type='text' value='{{ order_price }}' />
              <input id='type' name='type' type='text' value='{{ pay_type }}'/>
              <input id='redirect' name='redirect' type='text' value='{{ redirect }}'/>
              <input id='order_id' name='order_id' type='text' value='{{ order_id }}'/>
              <input id='order_info' name='order_info' type='text' value='{{ order_info }}'/>
              <input id='signature' name='signature' type='text' value='{{ buy_pay_sign }}'/>
              <input id='btn_pay' type='submit'>
            </form>
            
            <form>
              {% csrf_token %}
              商品价格: <input type="text" id="pay_price" value='{{ order_price }}' disabled>元<br/>
              <input type="radio" id="type_alipay" name="type" value="2" checked="checked">
              <span>支付宝支付</span><br><br>
              邮箱：
              <input type="text" id="user_mail" required>
              <input type="submit" id="btn_buy" value="确认购买"/>
            </form> -->

<!--             {% for link in buy_links %}
              <a class="btn btn-primary" href='{{ buy_codepay_api }}'>
                点击购买
              </a>
            {% endfor %} -->
          
            <div class="mt-5">

            {% block content %}
            {% for pic in photo_detail.get_all_pic_link %}
              <img 
                onclick="zoom(this, this.src, 0, 0, 0)" 
                class="lazyloadx col-lg-10 p-0 mb-5" 
                src="/static/image/loading.png"
                onmouseover="img_onmouseoverfunc(this)" 
                lazyloadthumb="1" 
                
                alt="{{ Photo_detail.name_chinese }}" 
                data-original="{{ pic }}" 
                lazyloaded="true"  >
            
             {% endfor %}
              {% endblock %}
             </div>


          </div>

                
          <!-- 右侧推荐位 -->
          <div class="col-lg-3 mt-5">        
              <div class="tags">
                <h5 class="mb-3" >热搜标签</h5>
                
                  {% for actress in hot_actress %}
                    <a class="btn btn-sm btn-outline-primary mb-2 " href="../search/?kwd={{ actress.actress_name_ch }}" title="{{ actress.actress_name_ch }}">  
                      {{ actress.actress_name_ch }}
                    </a>
                  
                  {% endfor %}

                  <div class="my-4">
                      <h5 class="mb-3">相关推荐</h5>
                        
                          {% for photo in related_album %}
                          
                            <a class="photo-link" href="/photo/{{ photo.get_photo_id}}" title="{{ photo.name_chinese}}">
                              <img class="card-img-top img-fluid border-light lazyloadx" data-original='{{ photo.get_cover_pic_link }}' src="/static/image/loading.png"
                                alt="{{ photo.name_chinese}}" lazyloadthumb="1" lazyloaded="true">
                             
                            

                            <p class="text-center text-truncate p-3">{{ photo.name_chinese }}</p>
                          </a>
                          {% endfor %}
                        
                    </div>


            </div>

         
          </div>
	


</section>


{% include 'doll_sites/footer.html' %}

  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.lazyload.js"></script>
  
  <script src="/static/js/main.js"></script>
  <script type="text/javascript"></script>


  <!-- <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
  <script type="text/javascript">
  $().ready(function(){
      function get_type(){
          return ($("#type_alipay").is(':checked') ? "2" : "1" ); 
      }

      $("#btn_buy").click(function(e){        
          $.post("/post_payment",
              {
                  price : $("#pay_price").val(), 
                  type : get_type(),
                  mail_addr : $("#text").val(),
                  order_info : $("#order_info").val(),
                  // order_id : $("#order_id").val(),
              },
              function(data){ 
                  console.log(data);
                  console.log(data.code);
                  $("#api_user").val(data.data.api_user);
                  $("#price").val(data.data.price);
                  $("#type").val(data.data.type);
                  $("#redirect").val(data.data.redirect);
                  $("#order_id").val(data.data.order_id);
                  $("#text").val(data.data.mail_addr);
                  $("#order_info").val(data.data.order_info);
                  $("#signature").val(data.data.signature);
                  $('#btn_pay').click();
                  // if (data.code > 0){
                  //     $("#api_user").val(data.data.api_user);
                  //     $("#price").val(data.data.price);
                  //     $("#type").val(data.data.type);
                  //     $("#redirect").val(data.data.redirect);
                  //     $("#order_id").val(data.data.order_id);
                  //     $("#text").val(data.data.mail_addr);
                  //     $("#order_info").val(data.data.order_info);
                  //     $("#signature").val(data.data.signature);
                  //     $('#btn_pay').click();
                  // } else {
                  //     alert(data.msg);
                  }
              }, "json"
          );
          e.preventDefault();
          return false;
      });
  });
  </script> 


</body>
</html>