<!DOCTYPE HTML>
<html class="h-100">

{% include 'doll_sites/head.html' %}

<body class="d-flex flex-column h-100">

  <!-- Header & Navigation -->
  {% include 'doll_sites/navi.html' %}

  <a  href="#" class="bg-dark" id="scroll">
    <i class="fas fa-chevron-up text-white "></i>
</a>



<div class="container">
  <div class="row">
    <div class=" col-lg-9 mt-lg-5">
      <div class="d-flex flex-wrap">
          {% block content %}
          {% for photo in current_photo_list %}
          <div class="card card-photolist border-0 my-3 p-0">
      
            <a class="photo-link" href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self'>
              <img 
                class="card-img-top img-fluid border border-light lazyloadx" data-original="{{ photo.get_cover_pic_link }}"
                src="/static/image/loading.png" 
                alt="{{ photo.name_chinese }} {{ photo.company }} {% for modelname in photo.model_name.all %}{{ modelname }}{% endfor %}"
                lazyloadthumb="1" 
                lazyloaded="true">
              </a>
           
            <div class="card-body p-1 mt-2">
               <!-- 相册标题模块 -->
            <div class="d-flex align-items-start">

                <a class="photo-link text-truncate" href="/photo/{{ photo.get_photo_id}}" title=" {{ photo.name_chinese }} " target='_self' onclick="gtag('event', 'click', {'send_to': 'UA-127776067-1','event_category': 'link','event_label': 'Rec_Newest_index'});">
                  <p class="card-text text-truncate mb-0 mr-1 ">{{ photo.name_chinese }}</p>
                </a>
           <!-- 相册标签 -->
            {% if photo.buy_link %}
            <span class="badge badge-warning align-self-center mr-1 ">精品</span>
            {% endif %}
            {% if photo.video_id %}
            <span class="badge badge-info align-self-center mr-1 ">视频</span>
            {% endif %}
            {% if photo.vip_photo == False %}
            {% if photo.video_id == Null %}
            <span class="badge badge-warning align-self-center mr-1 ">免费</span>
            {% endif %}
            {% endif %}
            </div>
              
                {% for modelname in photo.model_name.all %}
                <a href="/actress_detail/{{ modelname.pk }}" class="card-text text-truncate mb-1 ">
                  <small>{{ modelname }}</small>
              </a>
                {% endfor %}
              </div>
          </div>
          {% endfor %}
          {% endblock %}
  
      </div>
      <div>
          <nav aria-label="photo_list">
              <ul class="pagination justify-content-center mt-4 mb-5">
            
                <!-- 第一页 -->
                {% if current_photo_list.paginator.num_pages > 10 %}
                <li class="page-item">
                  <a class="page-link active" href="/photos/{{ series }}/{{ company }}/1">
                    <span>&laquo;</span>
                  </a>
                </li>
                {% endif %}
            
                {% if current_photo_list.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="/photos/{{ series }}/{{ company }}/{{ current_photo_list.previous_page_number }}">
                    <span>&laquo;</span>
                    <span class="sr-only">上一页</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="">
                    <span>&laquo;</span>
                  </a>
                </li>
                {% endif %}
            
            
                {% for i in current_photo_list.paginator.page_num_range %}
                {% if current_photo_list.number == i %}
                <li class="page-item active">
                  <span class="page-link">{{ i }}
                     <span class="sr-only">(current)</span>
                    </span>
                  </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="/photos/{{ series }}/{{ company }}/{{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
            
             
            
                {% if current_photo_list.has_next %}
                <li class="page-item">
                  <a class="page-link active" href="/photos/{{ series }}/{{ company }}/{{ current_photo_list.next_page_number }}">
                    <span>&raquo;</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="">
                    <span>&raquo;</span>
                  </a>
                </li>
                {% endif %}
            
                <!-- 最后一页 -->
                {% if current_photo_list.paginator.num_pages > 10 %}
                <li class="page-item">
                  <a class="page-link active" href="/photos/{{ series }}/{{ company }}/{{ current_photo_list.paginator.num_pages }}">
                    <span>&raquo;</span>
                  </a>
                </li>
                {% endif %}
            
              </ul>
            </nav>
      </div>
        

    </div>
    <div class="col-lg-3 mt-5 ">
        {% include 'doll_sites/main-right.html'%}
    </div>
  </div>



</div>










{% include 'doll_sites/footer.html' %}

  


  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
  crossorigin="anonymous"></script>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.lazyload.js"></script>
<script src="/static/js/main.js"></script>


</body>

</html>