<!DOCTYPE html>
<html class="h-100">

{% include 'doll_sites/head.html' %}

<body class="d-flex flex-column h-100">
  <!-- Header & Navigation -->
  {% include 'doll_sites/navi.html' %}

  <div class="container ">
    <section class="my-4">
      <div class="card">
        <h4 class="card-header h4 ">用户资料</h4>
        <div class="card-body">
          <div class="mb-3">
            <i class="fas fa-user mr-1"></i>
            用户名: {{ user.username }}
          </div>
          {% if member_expire %}
          <div class="mb-3">
            <i class="fas fa-user mr-1"></i>
            会员期限: {{ member_expire }}
          </div>
          {% endif %}
          <div class="mb-3">
            <i class="fas fa-envelope mr-1"></i>
            Email: {% if user.email %}
            {{ user.email }}
            {% else %}
            <a href="{% url 'account_email' %}">前往设置</a>
            {% endif %}
          </div>
        </div>

        <!-- 邀请统计 -->
        <h4 class="card-header h4 ">推广统计</h4>
        <div class="card-body">
          <div class="mb-3">
            <i class="fas fa-user-friends"></i>
            邀请人数: {{ invited_member }}
          </div>
          <div class="mb-3">
            <i class="fas fa-coins"></i>
            邀请等级: {{ invite_level }}
          </div>
          <!-- 邀请码 -->
          <div class="mb-3">
            <i class="fas fa-link"></i>
            专属邀请码: 
            <span id="invite-code"> {{ invite_code }}</span>
            <button class="btn btn-primary btn-sm btn-copy" data-clipboard-action="copy" data-clipboard-target="#invite-code">
              点击复制</button>
              <a class="ml-4" href='/invite_code_info/'>邀请码说明</a>
          </div>

        </div>

        {% if user.is_authenticated %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="mr-4" href="{% url 'account_change_password' %}">修改密码</a>
            <a href="{% url 'account_logout' %}">退出登录</a>
          </li>
        </ul>

        {% endif %}
      </div>
    </section>

    <section class="my-4">
      <div class="card">
        <h4 class="card-header h4 ">我的购买</h4>

        <ul class="list-group list-group-flush ">
          {% for album in user_paid_albums %}
          <li class="list-group-item">
            <div class="row buy-list ">
              <div class="col-lg-3 ">
                商品名:
                <a href="/photo/{{ album.order_info }}">{{ album.get_album_name }}</a>
              </div>
              <div class="col-lg-2 pl-lg-0 ">
                {% for actress in album.get_actress_name.all %}演员名:
                <a href="/actress_detail/{{ actress.id }}">{{ actress }}</a>{% endfor %}
              </div>
              <div class="col-lg-2  px-lg-1">
                所属公司: {{ album.get_company }}
              </div>
              <div class="col-lg-3 ">日期: {{ album.date_created }}</div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  </div>

  {% include 'doll_sites/footer.html' %}

  <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
  <script src="/static/js/jquery-3.3.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/clipboard.min.js"></script>
  <script src="/static/js/jquery.lazyload.js"></script>
  <script src="/static/js/main.js"></script>

  <script>
 // Tooltip

$('.btn-copy').tooltip({
  trigger: 'click',
  placement: 'bottom'
});

function setTooltip(message) {
  $('.btn-copy').tooltip('hide')
    .attr('data-original-title', message)
    .tooltip('show');
}

function hideTooltip() {
  setTimeout(function() {
    $('.btn-copy').tooltip('hide');
  }, 1000);
}

// Clipboard

var clipboard = new ClipboardJS('.btn-copy');

clipboard.on('success', function(e) {
  setTooltip('复制成功!');
  hideTooltip();
});

clipboard.on('error', function(e) {
  setTooltip('复制失败!');
  hideTooltip();
});
    </script>
</body>

</html>
